[run]
source =
    base
    editor
    kinkgarden
    kinks
omit =
    */migrations/*
    */tests.py
    htmlcov/*
    kinkgarden/*settings.py
    kinkgarden/wsgi.py
plugins =
    django_coverage_plugin
