Django[argon2]==3.1.2
pytz==2020.1
psycopg2==2.8.6
django-webpack-loader==0.7.0
whitenoise[brotli]==5.2.0
coverage==5.3
django_coverage_plugin==1.8.0
black==19.10b0
gunicorn==19.9.0; platform_system != 'Windows'
requests==2.25.1
