.link-box-wrapper input {
    width: 100%;
}

main > article > aside {
    flex: 2 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

main > article > aside > div {
    flex: 1 0 0;
    display: flex;
    flex-flow: column nowrap;
}

.category-menu ul {
    list-style: none;
    padding-left: 0;
}

.category-menu ul li {
    padding: 0.5em;
    cursor: pointer;
}

.category-menu ul li:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.category-menu ul li.selected {
    background-color: rgba(255, 255, 255, 0.5);
}

.kinks.menu-kinks {
    overflow-y: auto;
}

.kinks.menu-kinks p.description {
    display: unset;
}

.kink {
    position: relative;
}

.kink.selected > :not(.shortcuts) {
    opacity: 0.6;
}

.kink .shortcuts {
    position: absolute;
    top: 0;
    right: 0;

    --icon-size: 14px;
    --margin-size: 1px;

    --grid-size: calc(var(--icon-size) + 2 * var(--margin-size));

    display: grid;
    grid-template-columns: var(--grid-size) var(--grid-size);
    grid-template-rows: var(--grid-size) var(--grid-size);
}

.kink .shortcut {
    padding: var(--margin-size);
}

.kink .shortcut svg {
    width: 100%;
    height: 100%;
}

.kink .shortcut:not(.selected) svg {
    fill: none;
    stroke: var(--color);
    stroke-width: 1px;
}
