{% extends "base/base.html" %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <p>To edit this kink list, enter the edit password used when it was created.</p>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <label>
                Edit Password
                <input type="password" name="edit-password">
            </label>
        </fieldset>
        <input type="submit" value="Edit">
    </form>
{% endblock %}
