{% extends "base/base.html" %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <p>Couldn't find the kink list you were trying to access. Maybe it has a view password?</p>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <label>
                View Password
                <input type="password" name="view-password">
            </label>
        </fieldset>
        <input type="submit" value="View">
    </form>
{% endblock %}
