{% extends "base/base.html" %}
{% load static %}

{% block extra_headers %}
    <link rel="stylesheet" type="text/css" href="{% static 'kinks/list.css' %}">
{% endblock %}

{% block content %}
    <article>
        {% for name, column in columns %}
            <div class="column">
                <h2>{{ name }}</h2>
                <div class="kinks">
                    {% for kink in column %}
                        <div class="kink">
                            <p title="{{ kink.description }}">{{ kink.name }}</p>
                            <p class="description">{{ kink.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </article>
{% endblock %}
