body {
    --body-width: 40em;
    width: var(--body-width);
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;

    line-height: 1.6;
    color: #222222;
    background-color: #EEEEEE;
    font-size: 16px;
}

#logo {
    height: 60px;
}
