body {
    margin: 0 auto;
    font-family: Candara;

    line-height: 1.8;
    color: #bca7be;
    background-color: #2d1d2d;
    font-size: 130%;
    max-width: 50rem;
}

a {
    color: #b4bea7;
}

#logo {
    height: 60px;
}
