{% load static %}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}kink.garden{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base/style.css' %}">
    {% block extra_headers %}{% endblock %}
</head>
<body>
<header>
    {% block header %}
        <a href="/">kink.garden</a>
    {% endblock %}
</header>
<main>
    {% block content %}{% endblock %}
</main>
{% block end_of_body %}{% endblock %}
</body>
</html>
