{% extends "base/base.html" %}

{% block extra_headers %}
<meta name="description" content="make a list of your kinks and share with friends, the world, or no one but yourself!" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">

<!-- Open Graph data -->
<meta property="og:title" content="kink.garden" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://kink.garden" />
<meta property="og:description" content="make a list of your kinks and share with friends, the world, or no one but yourself!" />
{% endblock %}

{% block content %}
<h1>kink.garden</h1>
<h2>share your kinks with your friends, or the world</h2>
<p>kink.garden is a work in progress. coming soon, hopefully!
    {% if kink_count > 0 %}
    we have {{ kink_count }} kink{{ kink_count | pluralize }} in our database right now.
    {% endif %}
</p>
<p>in the meantime, feel free to follow us on <a href="https://twitter.com/kinkgarden">Twitter</a>.</p>
<h4>what is this?</h4>
<p>kink.garden is a project that aims to create a website where you can make a <b>list of your kinks</b> that you can
    share with friends, the world, or no one but yourself!</p>
<p>this project was started and conceptualized <b>by queer people, for queer people.</b> it is being built from the
    ground up to be queer-inclusive, always with respectfulness in mind. you won't have to worry about bigotry,
    objectifying slurs, or tastelessly fetishizing marginalized people.</p>
{% endblock %}
