{% extends "base/base.html" %}

{% block content %}
    <h1>kink.garden Privacy Policy</h1>
    <p>
        we at kink.garden take your privacy seriously.
        that's why we collect as little personal information as possible.
    </p>
    <h2>Cookies</h2>
    <p>
        kink.garden uses cookies for security features and to persist that you have passed the 18+ age gate.
        none of these are used to directly identify users or to track behavior.
    </p>
    <h2>IP Addresses</h2>
    <p>
        we do not retain your IP address.
    </p>
{% endblock %}
