{% extends "base/base.html" %}

{% block content %}
    <h1>kink.garden Privacy Policy</h1>
    <p>
        we at kink.garden take your privacy seriously.
        that's why we collect as little personal information as possible.
    </p>
    <h2>Cookies</h2>
    <p>
        kink.garden uses cookies for security features and to persist that you have passed the 18+ age gate.
        none of these are used to directly identify users or to track behavior beyond basic security measures.
    </p>
    <h2>IP Addresses</h2>
    <p>
        the hosting platform that we currently use, <a href="https://heroku.com/">Heroku</a>, will log your IP address alongside the pages you visit.
        we cannot disable this without switching to a different (probably more expensive) hosting platform.
        however, these logs expire after a week, and this data is not persisted beyond that.
    </p>
    <p>
        the mechanism we use to handle errors in our application has the potential to send us your IP address and the page you were trying to load if an error occurs.
        if it does, we promise to delete this data once the issue has been resolved.
    </p>
{% endblock %}
