html {
    height: 100%;
    --page-width: 100vw;

    --hue-heart: 179.2;
    --hue-check: 102.2;
    --hue-tilde: 42.5;
    --hue-no: 344.8;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

body > * {
    flex: 0 0 auto;
}

main {
    flex: 1 0 0;
    height: 10px;
    display: flex;
    flex-flow: column;
}

main > article {
    flex: 1 0 0;
    height: 0;
    position: relative;
    left: calc((var(--body-width) - var(--page-width)) / 2);
    display: flex;
    flex-flow: row nowrap;
    width: var(--page-width);
    justify-content: space-between;
    align-items: flex-start;
}

main > article > div.column {
    flex: 1 0 0;
}

.icon.heart {
    --hue: var(--hue-heart);
}

.icon.check {
    --hue: var(--hue-check);
}

.icon.tilde {
    --hue: var(--hue-tilde);
}

.icon.no {
    --hue: var(--hue-no);
}

svg.icon {
    max-height: 40px;
    width: 100%;

    --color: hsl(var(--hue), var(--saturation, 60%), var(--lightness, 50%));
    fill: var(--color);
}

.kinks {
    min-height: 1em;
    background-color: rgba(255, 255, 255, 0.7);
}

.kinks p.description {
    display: none;
}

.kink:not(:last-child) {
    border-bottom: 2px solid black;
}

.kink p {
    margin: 0;
    padding: 0;
}

.kink p:first-child {
    font-size: 120%;
}
